body
{
	background-color: #0000ec;
	color: white;
	font-size: 13pt;
	margin-left: 0;
}

body, input, textarea, button, option
{
	font-family: Helvetica,Arial,sans-serif;
}

h1
{
	text-align: center;
}

input
{
	font-size: 12pt;
	max-width: 15em;
}

input:disabled
{
	background-color: rgba( 0,0,0,0);
	color: white;
	border: none;
	font-weight: 900;
	font-size: 14pt;
}

select
{
	font-size: 14pt;
	vertical-align: middle;
	margin-bottom: .5em;
}

select:disabled
{
	background-color: white;
	color: black;
}

select:disabled,option:checked
{
	background-color:white;
}


#settingInstructions
{
	width: 90%;
	margin-left: 5%;
	font-weight: bold;
	font-size: 105%;
	color: #c00000;
	background-color: white;
	padding-left: 1em;
	margin-bottom: 0;
}

.cfgTable
{
	margin-left: auto;
	margin-right: auto;
}
.cfgLeft
{
	padding-left: 5em;
}

.cfgHead
{
	padding-left: 3em;
	padding-top: 1.15em;
}

.cfginput
{
	max-width: 50em;
	width: 25em;
}

.cfgselect
{
	max-width: 5em;
	background-color:white;
}


#buttonRow
{
	padding-top:  3vh;
	margin-left: auto;
	margin-right: auto;
	width: 23em;
}

#buttonRow input
{
	margin-left:2em;
	margin-right: 2em;
	width: 8em;
}

#submitbtn
{
	float: left;
}

#resetbtn
{
	float: right;
}

#confirmDialog
{
    text-align: center;
    box-shadow: 10px 10px 5px rgba( 0,0,0,.6);
    border-radius: 20px;
	min-width: 20em;
}

#dialogButtonRow
{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#dialogTitle
{
    color: #d00000;
    margin-top: 0px;
    margin-bottom: 10px;
}

.dialogButton
{
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#confirmRestore
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}


nav {
	background-color: lightgray;
    color: blue;
    padding: 0;
	width: 101vw;
	height: 2.3em;
	margin-left: -10px;
}

nav *
{
	font-size: 13pt;
	line-height: 13pt;
	padding-top:  0;
}

nav a
{
	text-decoration: none;
	margin-left:2em;
	color: black;
	float: left;
	margin-top: .6em;
}

nav a:hover
{
	text-decoration:underline;
}

nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li 
{
    display: inline;
    margin-right: 20px;
}

nav img
{
	height:2em;
	width: 2em;
	position: relative;
	top: -9px;
}

nav ul li a 
{
    color: black;
    text-decoration: none;
}

nav ul li a:hover 
{
    text-decoration: underline;
}

#gearMenu
{
	float: right;
}

.submenu
{
	float: left;
	overflow: hidden;
	background-color: lightgray;
}

.submenu .submenuButton
{
	border: none;
	outline: none;
	color: black;
	background-color: lightgray;
	font-family: inherit;
	margin-top: 0.5em;
	margin-left: 2em;
}


.submenuContent
{
	display: none;
	position: absolute;
	background-color: lightgray;
	z-index: 1;
	box-shadow: 10px 10px 5px rgba( 0, 0, 0, .68);
	border-top: solid 1px #a0a0a0;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

.submenu:hover .submenuContent
{
	display: grid;
}

.submenuContent  a 
{
	white-space:nowrap;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: .2em;
	margin-top: .2em;
}

#gear
{
	height:1.9em;
	width:1.9em;
	margin-top: 0;
	margin-right: 10px;
	top: 5px;
}

.rightEdge
{
	left: calc( 99.25vw - 14.65em);
/*	margin-top: 3px; */
	width: 15em;
}

.loginForm
{
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
	line-height: 250%;
	text-align: center;
}

.buttonRow
{
	padding-top:  3vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-evenly;
}

.twoButtons 
{
	width: 23em;
}


.buttonRow.twoButtons input
{
	padding-left: 2em;
	padding-right: 2em;
}

.buttonRow button
{
	padding-left: 1em;
	padding-right: 1em;
}


TheTitle
{
   color: white;
   font-weight: 550;
   font-size: 36pt;
   text-align: center;
   display:block;
   margin-top: 1em;
   margin-bottom: .5em;
}

.picture
{
	margin: 1em;
	width: 320px;
	max-height: 460px;
	display: inline-block;
/*	border: 4px solid green; */
}

.photoHolder
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(460px - 1.5em);
}

.picture img
{
    height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	border: 2px solid black;
    object-fit:contain;
}

photoCaption
{
	display:block;
	color: white;
	text-align: center;
	font-weight: 550;
	margin-top: .5em;
}

#infoBox
{
	width:100px;
	height: 100px;
	background-color: white;
	color: black;
	border: 1px solid black;
	box-shadow: 7px 7px 7px rgba(0,0,0, .7);
	display: none;
	position: absolute;
	z-index: 2;
}

.infoBox
{
	padding-left:1em;
}

#copyIcon
{
	width: 25px;
    margin: 3px;
}

fullName
{
	display: block;
	color: #0000c0;
	font-weight: 800;
}
street
{
	display:block;
}
city
{
	display: inline-block;
	margin-bottom: .5em;
}
zip
{
	display: inline-block;
	margin-bottom: .5em;
}

phoneBlock
{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 110%;
}

phone
{
	display: block;
    font-weight: bold;
    text-align: right;
}

cell
{
	display: block;
    font-weight: bold;
    text-align: right;
}

phoneNumber
{
    display: inline-block;
}
email
{
	display: block;
}


#page
{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

uploadForm
{
    display: none;
}

namesList
{
    display: inline-block;
    width: 30%;
}

#dataEntry
{
    display: inline-block;
    position: absolute;
    top: 0px;
    margin-left: 35%;
	font-size: 13pt;
}

namesList + #dataEntry
{
	margin-left: 5%;
}

namesList + #dataEntry photo
{
	margin-right: 28%;
}

photo
{
    display: flex;
    align-items: center;
    background-color: #d0d0d0;
    width:  191px;
    height: 241px;
    margin-left: auto;
	margin-top: 1em;
    border: 3px solid black;
}

photo img
{
    width: 100%;
    max-height: 100%;
}

button
{
	font-size: 12pt;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .2em;
}

fauxbutton
{
    display:block;
	color: black;
    background-color: #f0f0f0;
    border: 1px solid black;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0,0,0,.5);
}

.editPhotoChoice
{
    position: absolute;
    display: block;
    visibility: hidden;
    z-index: 3;
}

.selectSendTime
{
	display:grid;
	grid-template-columns: 1fr 3em 1fr;
	justify-items: center;
	align-items: center;
	margin-bottom: 1em;
	font-size:14pt;
}

.downSome
{
	margin-top: .3em;
}
.gridLeftAlign
{
	justify-self: left;
}

.gridRightAlign
{
	justify-self: right;
}

.invisible
{
	display: none;
}

#pickPhoto
{
    top: auto;
    left: 37%;
}

namesList + #dataEntry #pickPhoto
{
	left: 29%;
}

#deletePhoto
{
    top: 180px;
    left: 40%;
}

namesList + #dataEntry #deletePhoto
{
	left: 31%;
}

div#formInfo
{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}
.infoLabel
{
    text-align: right;
    margin-bottom: .5em;
	color: white;
}

tr td select
{
	font-size: 13pt;
	margin-bottom: 0;
}

form input
{
	font-size: 12pt;
}

memberName
{
    font-weight: bold;
    color: blue;
}

adminNamesList
{
    display: inline-block;
    width: 30vw;
}

#memberNames
{
    width:  100%;
    border: 3px solid black;
	font-size: 13pt;
}


#toggleStatus
{
    margin-bottom: .5em;
	font-size: 12pt;
	width: 10em;
	margin-left:30%;
}

#instructions
{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
	margin-bottom: 2em;
	font-size: 13pt;
}

.caution
{
	font-family: Arial,sans-serif;
	width: 90%;
	margin-left: 5%;
	font-weight: bold;
	font-size: 105%;
	color: #c00000;
	background-color: white;
	padding-left: 1em;
	margin-bottom: 0;
}

#screen
{
	display:flex;
}

.blue-background
{
	background-color: #0000ec;
}

#container 
{ 
	display: block;
	width: fit-content;
	margin: 0 auto; 
	margin-top: 20px; 
	margin-bottom: 20px;
	padding-bottom: 10px;
	background: #fff; 
	border-radius: 6px; 
	-webkit-border-radius: 6px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;  
	height: fit-content;
}

#list
{
	display: flex;
	justify-content: center;
	width: 30%;
}

#stacked
{
	display: flex;
	flex-direction: column;
}

#memberList
{
	width: 12em;
	border: 2px solid black;
	margin-top: 20px;
}

#OneContact-form
{
	box-sizing: border-box; 
}

#container #OneContact-form
{
	color: black;
	padding-top: 20px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 10px;
}

#OneContact-form #slider { width: 60%; }

#OneContact-form #aligned
{ 
	box-sizing: border-box; 
	float: left; 
	width: 18em;
	padding-right: 20px;
}

#aligned label
{
	font-size:11pt;
	display: inline-block;
	width: 5.5em;
}

#aside label
{
	display: inline-block;
	width: 8.5em;
}


#OneContact-form #aside
{
	float: left;
	width: fit-content;
	padding-right: 1em;
	box-sizing: border-box;
	font-size: 11pt;
	margin-top: 1em;
}

#OneContact-form select
{
	font-size: 10pt;
}

#OneContact-form fieldset
{
	padding-right: 1em;
}

#OneContact-form .txtinput 
{ 
	font-family: Helvetica,Arial,sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 11pt;

	padding-left: 25px;
	color: #777;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
	transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
	-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
	-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
	-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
}

#OneContact-form .txtinput:focus 
{ 
	color: #333;
	border-color: rgba(41, 92, 161, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
	outline: 0 none; 
}


#OneContact-form input.name 
{
	background: #fff url('images/user.png') 5px 4px no-repeat;
	background-size: 10pt 10pt;
}

#OneContact-form input#email 
{
	background: #fff url('images/email.png') 5px 4px no-repeat;
	background-size: 10pt 10pt;
}

#OneContact-form input#cellphone 
{
	background: #fff url('images/phone.png') 5px 4px no-repeat;
	background-size: 10pt 10pt;
}

#OneContact-form input#landline 
{
	background: #fff url('images/landline.png') 5px 4px no-repeat;
	background-size: 10pt 10pt;
}

#OneContact-form input#grp_name 
{
	background: #fff url('images/group.png') 5px 4px no-repeat;
	font-size: 12pt;
	height: 2.3em;
	width:100%;
}


#OneContact-form select#chosenContacts
{
	background: #fff;
	font-size: 12pt;
	max-width:400px;
	width: 100%;
	text-align:center;
}

.flexCentered
{
	display:flex;
	justify-content:center;
	margin-bottom: 2em;
	margin-top:4em;
}

#sendMessages
{
	margin-top: 2.5em;
}

#buttons
{
	display: flex;
	justify-content: center;
	gap: 20px
}

.groupRowItem
{
	flex: 1;
	flex-direction: column;
}

.groupColumnItem
{
	flex: 1;
}

.showCheckBoxes option:not(:checked)::before
{
	font-weight: 600;
	content: "\2610\20";
	line-height: 1.15em;
	color: black;
}

.showCheckBoxes option:checked::before
{
	content: "\1f5f9\20";
	line-height: 1.15em;
	color: black;
	font-weight:normal;
}

.withDropdown
{
	position:relative;
}

.withDropdown:after
{
	content: "\25bc";
	position: absolute;
	right: 8px;
	color: black;
	top: 2px;
	pointer-events: none;
}

.groupMembers
{
	width:12em;
}

.selectAllButtons
{
	width: 13em;
	display: flex;
	justify-content: center;
	gap: 20px;
}

option
{
	font-family: Helvetica,Arial,sans-serif;
}

option[type="group"]
{
	color: #00a800;
	font-weight: 600;
}

option[type="member"]
{
	color: black;
	font-weight: normal;
}

#memberButton
{
	margin-left:1em;
}

.messageScreen
{
  width: 98vw;
  height: 15em;
  display: grid;
  grid-template-columns: 3em 12em 12em 1fr 3em;
  grid-template-rows: 15em;
  column-gap: 1.5em;
}

.messageScreen label,select,option,input,textarea
{
	font-size: 14pt;
}
.messageScreen select
{
	width: 11em;
}

.messageScreen option
{
	padding-top: .1em;
	padding-bottom: .1em;
}

.groupCol
{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
}

.groupCol p
{
	line-height: 0;
	font-size: 0;
}
.indivCol
{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
}

.indivCol p
{
	line-height: 0;
	font-size: 0;
}

.messageCol
{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
}

.messageForm
{
	display: contents;
}

.messageWindow
{
	display: grid;
	grid-template-columns: 6em minmax(4em, 13em) 1fr;
	grid-template-rows:    0em 1em 1em 12em 1em;
	column-gap: .5em;
	row-gap: 1.1em;
}

.messageWindow input
{
	width: 100%;
}

.label1
{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: right;
}

.label2
{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: right;
}

.label3
{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
	justify-self: right;
}

.from
{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.subject
{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.messageText
{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
}

.messageText textarea
{
	width: 100%;
	height: 100%;
}

.sendButton
{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
	justify-self:left;
	width: 100%;
}

.sendbutton input
{
	width: 8em;
	padding-top: .2em;
	height: 1.7em;
}

.listHolder
{
	max-height: 50vh;
	min-width: 60%;
	max-width: 80%;
	overflow: auto;
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
}

.listHolder table
{
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	color: black;
	font-size: 1rem;
}

.listHolder thead th
{
	position: sticky;
	top: 0;
	background-color: #e0e0e0;
	z-index: 1;
	padding: 5px;
	border-bottom: 2px solid black;
	text-align: left;
}

.listHolder td
{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 1em;
	border-bottom: 1px solid darkgray;
font-size:1rem;
}


.listHolder td:nth-child(1)
{
	min-width: 20px;
}
.listHolder td:nth-child(2)
{
	min-width: 5em;
}
.listHolder td:nth-child(3)
{
	min-width: 10em;
}
.listHolder td:nth-child(4)
{
	max-width: 16em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listHolder td:nth-child(5)
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 50em;
}

@media (max-width: 900px) {

.messageScreen
{
  all: unset;
  width: 98vw;
  height: 15em;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.5em;
}

.groupCol
{
  all: unset;
}

.showCheckBoxes
{
	margin-left: auto;
	margin-right: auto;
	width: 12em;
}

.messageForm
{
	all: unset;
}

.messageText textarea
{
	min-height: 11.5em;
	width: 100%;
}


.selectSendTime
{
	grid-template-columns: 1fr;
}

.gridLeftAlign
{
	justify-self: center;
}

.gridRightAlign
{
	justify-self: center;
}


.listHolder
{
	max-height: 50vh;
	min-width: 60%;
	max-width: 80%;
	overflow: auto;
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
}

.listHolder table
{
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	color: black;
	font-size: 1rem;
}

.listHolder thead th
{
	position: sticky;
	top: 0;
	background-color: #e0e0e0;
	z-index: 1;
	padding: 5px;
	border-bottom: 2px solid black;
	text-align: left;
}

.listHolder td
{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 1em;
	border-bottom: 1px solid darkgray;
font-size:1rem;
}


.listHolder td:nth-child(1)
{
	min-width: 20px;
}
.listHolder td:nth-child(2)
{
	min-width: 5rem;
}
.listHolder td:nth-child(3)
{
	min-width: 10rem;
}
.listHolder td:nth-child(4)
{
	max-width: 16rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listHolder td:nth-child(5)
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 50rem;
	color: green;
	font-size: .6rem;
}



}
